<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow">
<title>Smart Map - Current Location Information</title>
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
</head>

<body>

    {{ craft.smartMap.js }}

    <table>
        <colgroup>
            <col width="120" />
            <col width="120" />
            <col width="120" />
        </colgroup>
        <tr>
            <th>Method</th>
            <th>Value</th>
            <th>Expires</th>
        </tr>
        <tr>
            <td class="field">Cache Data:</td>
            <td><pre>{{ craft.smartMap.debug.cacheValue }}</pre></td>
            <td class="expires">{{ craft.smartMap.debug.cacheExpires|date('M. j, Y\ng:i:s A')|nl2br }}</td>
        </tr>
    </table>

    <table>
        <colgroup>
            <col width="100" />
            <col width="200" />
        </colgroup>
        <tr>
            <th colspan="2">Detected via {{ craft.smartMap.debug.geoService }}</th>
        </tr>
        <tr>
            <td class="field">IP address:</td>
            <td id="php-ip">{{ visitor.ip }}</td>
        </tr>
        <tr>
            <td class="field">City:</td>
            <td id="php-city">{{ visitor.city }}</td>
        </tr>
        <tr>
            <td class="field">State:</td>
            <td id="php-state">{{ visitor.state }}</td>
        </tr>
        <tr>
            <td class="field">Zip:</td>
            <td id="php-zip">{{ visitor.zipcode }}</td>
        </tr>
        <tr>
            <td class="field">Country:</td>
            <td id="php-country">{{ visitor.country }}</td>
        </tr>
    </table>

    <table>
        <colgroup>
            <col width="60" />
            <col width="100" />
            <col width="100" />
        </colgroup>
        <tr>
            <th>&nbsp;</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        <tr>
            <td class="field">PHP:</td>
            <td class="coords" id="php-latitude">{{ visitor.latitude|number_format(6) }}</td>
            <td class="coords" id="php-longitude">{{ visitor.longitude|number_format(6) }}</td>
        </tr>
        <tr>
            <td class="field">JS:</td>
            <td class="coords" id="js-latitude">&nbsp;</td>
            <td class="coords" id="js-longitude">&nbsp;</td>
        </tr>
    </table>

    <table>
        <colgroup>
            <col width="130" />
            <col width="120" />
        </colgroup>
        <tr>
            <th>$_SERVER</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td class="field">REMOTE_ADDR</td>
            <td>{{ craft.smartMap.debug.remote_addr }}</td>
        </tr>
    </table>

    <div id="where-am-i"></div>

</body>
</html>
